.jScrollPaneContainer {
position: relative;
overflow: hidden;
width: 250px;
display:block;

}
.jScrollPaneTrack {
position: absolute;
cursor: pointer;
right: 0;
top: 0;
background: #aaa;
height: 100px;
background:transparent url(../images/scroll/bg_scroll_light.png) repeat-y scroll 0 0;
display:block
}
.jScrollPaneDrag {
position: absolute;
background: #666;
cursor: pointer;
overflow: hidden;
background:transparent url(../images/scroll/bg_scroll.png) repeat-y scroll center center;
}
.jScrollPaneDragTop {
position: absolute;
top: 0;
left: 0;
overflow: hidden;
}
.jScrollPaneDragBottom {
position: absolute;
bottom: 0;
left: 0;
overflow: hidden;
}
a.jScrollArrowUp {
display: block;
position: absolute;
z-index: 1;
top: 0;
right: 0;
text-indent: -2000px;
overflow: hidden;
/*background-color: #666;*/
height: 9px;
background:transparent url(../images/scroll/basic_arrow_up.gif) repeat-x scroll 0 0;

}
a.jScrollArrowUp:hover {
/*background-color: #f60;*/
background-position:0 -15px;
}

a.jScrollArrowDown {
display: block;
position: absolute;
z-index: 1;
bottom: 0;
right: 0;
text-indent: -2000px;
overflow: hidden;
/*background-color: #666;*/
height: 9px;
background:transparent url(../images/scroll/basic_arrow_down.gif) repeat-x scroll 0 0;
}
a.jScrollArrowDown:hover {
/*background-color: #f60;*/
background-position:0 -15px;
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
/*background-color: #f00;*/
}