body {
	background:#333366 !important;
	margin:0 !important;
	padding:0 !important;
	max-width:1024px !important;
	
}
html, * {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    box-sizing: content-box !important;
    background-clip:  border-box !important;
}
.container.km-widget.km-view, .container { 
	background: #333366 !important;
}
.list-loading {
    background: url('/images/css-common/loading_small.gif') no-repeat scroll center center #FFFFFF !important; 
    height: 135px !important;
    width: 96% !important;
    text-indent: -2000em !important;
    display: block;
    margin: 2% auto;
    border-radius: 10px;
}
.list-nodata {
    text-align: center;
    background: #FFFFFF !important; 
    min-height: 0 !important;
	padding:2%;
    width: 92% !important;
    display: block;
    margin: 2% auto;
    border-radius: 10px;
	border:2px solid #ba152b;
	color:#768286;
	font-size:1.2em;
	line-height:1em;
	font-style:italic;
}
	.list-nodata:first-line {
		font-size: 1.3em;
		line-height:1.1em;
		color:#ba152b;
		font-weight:bold;
		font-style:normal;
	}

.header {
	background:#FFF;
	display:block; 
	float:left;
	clear:both;
	width:100%;
	position:relative;
	z-index:1;
	border-bottom: 1px solid #E9E9FB;
}
body .container .loginAndLangs, .header .loginAndLangs {
	background: #272759;
	font-size:12px;
	color:#FFF;
	line-height:12px;
	float:left;
	width:100%;
	clear:both;
	border-bottom:1px solid #070714;
}
body .container .langsMobile {
	
	display:block;
	float:right;
	height:12px;
	margin:4% 3% 3% 0;
	text-decoration:none;
}
	
	body .container .langsMobile img {
		float: right;
		margin-left: 10px;
		border: 2px solid #FFF;
	border-radius: 2px;
	}
	body .container .langsMobile span {
		display:block;
		float: right;
		margin-top:1px;
		color:#FFF;
		font-size:13px;
		line-height:13px;
	}
	body .container .langsMobile:hover span {
		text-decoration: underline;
		color:#FE6634;
	}
body .container .loginMobileLink {
	color:#FFF;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	display:block;
	float:left;
	margin:3% 0 3% 3%;
}
body .container .loginMobileLink:hover  {
		text-decoration: underline;
		color:#FE6634;
		cursor:pointer;
	}
body .container .logo {
	float:left;
	margin:3% 0 3% 3%;
	width:100%;
	border:none !important;
	text-decoration:none !important;
	border-color:#FFF !important;
}
body .container .nav-button.logoCont.km-widget.km-button span, body .container .nav-button.logoCont span {
	text-decoration:none !important;
	border:none !important;
	float: left;
	display:block;
	border-color:#FFF !important;
}
body .container .nav-button.logoCont.km-widget.km-button, body .container .nav-button.logoCont {
	float: left;
	margin: 3% 0 3% 3%;
	width: auto;
	border:none;
	padding:0;
	visibility:visible;
	max-width:30%;
	text-decoration:none !important;
	border:none !important;
	border-color:#FFF !important;
}
.km-root a.openSearch,  a.openSearch {
	cursor: pointer;
	background:url(../images/mobile/search.png) center right no-repeat;
	padding:7px 40px 0 0;
	font-size:15px;
	height:25px;
	color:#333366;
	line-height:15px;
	margin:5% 3% 0 0;
	display:block;
	float:right;
	opacity:1;
}
	.km-root a.openSearch:hover, a.openSearch:hover {
		color: #FE6634;
		opacity:0.8;
	}

.searchBox {
	position:absolute;
	left:2.5%;
	top:0;
	background:#FFF;
	border-radius: 0 0 20px 20px;
	box-shadow: 0 0 10px #000;
	z-index:10000;
	height:0;
	float:left;
	width:95%;
	overflow:hidden;
	transition-duration: 1s;
	-moz-transition-duration: 1s; /* Firefox 4 */
	-webkit-transition-duration: 1s; /* Safari and Chrome */
	-o-transition-duration: 1s; /* Opera */
}

	.searchBox ul.searchForm {
		margin-top: 66px;
		width: 100%;
		float: left;
		clear: both;
}
.mainMobile {
	width: 100%;
	float: left;
	clear: both;
	background:#333366 !important;
	margin: 0!important;
}
.km-root input[readonly], .km-root select.selectZone:not([multiple]) {
	background: #FFF url(../images/mobile/select-zone-bg.gif) bottom left repeat-x;
	width: 96%;
	margin:0;
	float: left;
	clear: both;
	display:block;
	padding: 2%;
	font-size:20px;
	font-style:italic;
	color:#333366;
	line-height:30px;
	border-top: 1px solid #c9c9db;
	cursor:pointer;
	border-radius:2px;
     border-left: none;
    border-right: none;
}
	.selectZone:hover {
		background-position: top left;
		background-color:#c9c9db;
	}
.titPag, .km-content .titPag {
	display: block;
	float: left;
	width: 69%;
	margin:5.5% 0 2.5% 3%;
	color:#FFF;
	text-transform:uppercase;
	font-weight:bold;
	font-size: 20px;
	line-height:20px;

}
.km-root a.filterBtn, a.filterBtn,  .km-ios7 .km-tabstrip a.filterBtn.km-button  {
	display: block;
	float: right;
	max-width: 20%;
	margin: 3.5% 3% 0 0;
	padding: 2%;
	background: #FFF url(../images/mobile/select-zone-bg.gif) bottom left repeat-x;
	font-size: 1.2em;
	line-height:1.2em;
	color: #333366;
	border:1px solid #FFF;
	border-radius:5px;
	box-shadow:0 0 6px #000;
	cursor:pointer;
}
	.km-root a.filterBtn:hover, a.filterBtn:hover {
		background-position: top left;
		color: #FE6634;
		background-color:#c9c9db;
	}
	.km-root a.filterBtn:after, a.filterBtn:after {
		content: " +";
		color:#333366;
		font-weight:bold;

	}

.filters {
	display:none;
}
.listCont {	
	background:#333366 !important;
	width: 100%;
	float: left;
	clear: both;
	margin: 3% 0 !important;
}
#custom-listview {	
	background:#333366 !important;
	width: 98%;
	float: left;
	clear: both;
	margin:0 2px !important;
	list-style:none;
	padding:0 !important;
}
	#custom-listview li.km-list, #custom-listview li.km-list > li, .km-group-container, .km-group-container .km-list {
	display: block;
	float: left;
	clear: both;
	width:100%;
	position:relative;
	z-index:1;
	margin: 0 !important;
}
	#custom-listview.km-listview li ul li, #custom-listview.km-listview li ul li, .listCont ul.km-list > li {
	display: block;
	float: left;
	clear: both;
	margin-bottom: 2%;
	border-radius:5px;
	box-shadow: 0 0 5px #000;
	width:96%;
	padding:1%;
	background:#FFF;
	position:relative;
	z-index:1;
	text-decoration:none;
	margin-left:2% !important;
}

	#custom-listview li.km-list:hover {
		opacity: 0.8;
	}
.listCont .km-listview-wrapper {
	display: block;
	float: left;
	clear: both;
	width:100%
}
.product {
	display: block;
	float: left;
	clear: both;
	width:100%
}
.listItemMobile {
	display: block;
	float: left;
	clear: both;
	margin-bottom: 3%;
	border-radius:5px;
	box-shadow: 0 0 5px #000;
	width:98%;
	padding:1%;
	background:#FFF;
	position:relative;
	z-index:1;
	text-decoration:none;
}
	.listItemMobile:hover {
		opacity: 0.8;
	}
	#listview-templates .imgCont {
		width: 85px;
		height: 85px;
		float: left;
		position: relative;
		z-index: 1;
		overflow: hidden;
		border-radius: 3px;
	}
		
	
	#listview-templates .item-photo {
			float: left;
			height: 85px;
			min-width: 85px;
			border-radius:5px;
	}

.listItemMobileDesc {
	float: left;
	margin:0 0 0 2%;
	width:47%;
	text-decoration:none;
}
.listItemMobileTit, #custom-listview .item-title {
	display:block;
	float:left;
	font-size:15px;
	font-weight:normal;
	color:#FE6634;
	line-height:16px;
	width:100%;
	text-decoration:none;

}
.listItemMobileZone, #custom-listview .item-info {
		display:block;
	float:left;
	font-size:12px;
	font-weight:normal;
	color:#333366;
	line-height:16px;
	width:100%;
	margin-top:2%;
	text-decoration:none;
}

.icoBookNowMobile {
	position: absolute;
	z-index: 2;
	top: 10%;
	right: 2%;
	float:right;
	max-width:15%;
	text-decoration:none;
}
.listSpecialOfferDate {
	float: left;
	width: auto;
	padding: 0 0 1% 3%;
	margin-top:0;
	text-decoration:none;
}
	.listSpecialOfferDate span, .listSpecialOfferDate strong {
		display: block;
    float: left;
    margin: 1px 10px 0 0;
		text-decoration:none;
	}
	.listSpecialOfferDate span {
		font-size: 11px;
		line-height: 12px;
		color: #808080;
		text-decoration:none;
	}
	.listSpecialOfferDate strong {
		font-size: 12px;
		line-height: 12px;
		color: #FE6634;
		text-decoration:none;
	}
	.price,  .price.km-widget.km-button {
		background:#FE6634;
		border: medium none;
    border-radius: 10px;
    bottom: 0;
    color: #FFFFFF;
    display: block;
    float: right;
    padding: 1.3% 2% 1%;
    position: absolute !important;
    right: 0;
    text-decoration: none;
	}
	.price.SpOffDiscout,  .price.SpOffDiscout.km-widget.km-button {
	font-size: 1.3em;
    line-height: 1.2em;
	font-weight:bold;
	color:#FFF;
	letter-spacing:-1px;
	text-decoration:none;
	background:#FE6634;
}
		.price span, .price.km-widget.km-button span {
			border: none;
			padding: 0;
			margin: 0;
		}
.km-root a.LoadMore, a.LoadMore {
	display: block;
	margin: 2% auto;
	padding: 2%;
	background: #FFF url(../images/mobile/select-zone-bg.gif) bottom left repeat-x;
	font-size: 14px;
	line-height:14px;
	color: #333366;
	border:1px solid #FFF;
	border-radius:5px;
	box-shadow:0 0 6px #000;
	cursor:pointer;
	clear:both;
	text-align:center;
	width: 55%;
}
	.LoadMore:hover {
		background-position: top left;
		color: #FE6634;
		background-color:#c9c9db;
	}
.km-view .footer, .footer {
	background: #23234c url(../images/mobile/footer-bg.gif) top left repeat-x;
	float: left;
	clear: both;
	padding: 6% 3%;
	width: 94%;
}
.km-view .footer .datiSoc, .footer .datiSoc {
	color: #c9c9db;
	font-size: 11px;
	line-height: 11px;
	display:block;
	float:left;
	margin:2px 0;
	padding:0;
	width:49%;
}
.km-view .footer .menuFooter, .footer .menuFooter {
	float:right;
	font-size: 11px;
	line-height: 11px;
	display:block;
	margin:0;
	padding:0;
	width:49%
}
	.km-view .footer .menuFooter a, .footer .menuFooter a {
		padding: 1px 5%;
		display:block;
		float:right;
		border-left:1px solid #3b3b78;
		color:#FE6634;
	}
		.km-view .footer .menuFooter a:hover, .footer .menuFooter a:hover {
			color: #FFF;
		}
		.km-view .footer .menuFooter a:first-child, .footer .menuFooter a:first-child {
			padding-right:0;
		}
		.km-view .footer .menuFooter a:last-child, .footer .menuFooter a:last-child {
			border: none;
		}
		.km-view .footer .menuFooter a:hover, .footer .menuFooter a:hover {
			color: #FFF;
		}

#listview-templates .km-listview .km-group-title {
	display: none;
}

#listview-templates .km-listview .km-list {
	background:none;
	margin:0 !important;
}

#custom-listview .item-title {
   float: left;
  font-size: 0.9em;
    font-style: italic;
    line-height: 1em;
    margin: 5px 0 8px 3%;
    width: 97%;
}
#custom-listview .item-info {
   float: left;
    font-size: 13px;
    line-height: 13px;
    margin: 0 0 5px 3%;
    width: 100%;
}

.km-list a.listItemMobile.km-listview-link {
	background: none !important;
	box-shadow:none !important;
	width:100% !important;
	height:auto !important;
	position:relative !important;
	float:left !important;
	margin:0 !important;
	padding:0 !important;
	top:0 !important;
	left:0 !important;
	cursor:pointer;
	border:none;
}
	.km-list a.listItemMobile.km-listview-link:after {
		box-shadow:none !important;
		
	}
.km-list .km-listview-link:after, .km-list .km-listview-label:after {
	position:relative !important;
	float:left !important;
	margin:0 !important;
	padding:0 !important;
	top:0 !important;
	left:0 !important;
}
.km-content.km-widget.km-scroll-wrapper {
	width:100%;
}
.km-root a.closeSearchBox {
	display: block;
	float: left;
	padding: 15px 3%;
	width: 100%;
	font-size:16px;
	line-height:16px;
	color:#333366;
	background:#c9c9db;
	border-bottom:1px solid #9f9fba;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
 	font-style:italic;
	cursor:pointer;
}
	.km-root a.closeSearchBox:hover {
		background: #FE6634;
		color: #FFF;
		border-bottom-color:#9c3715;
	}
	.km-root a.closeSearchBox:after {
		        content: "x";
		display: block;
		float: right;
		font-size: 15px;
		font-style: normal;
		position: relative;
		right: 5%;
		text-align: right;
		top: 0;
		z-index: 1;
	}


.searchForm  > li.searchBoxLine {
	display:block;
	float:left;
	width:97%;
	border:none;
	padding: 5px 0 5px 3%;
}
.searchForm  > li.searchBoxLine input[type="text"] {
	display:block;
	float:left;
	width:94%;
	border:none;
	border-radius:3px;
	border:2px solid #d7d7e8;
	padding:5px 1%;
	color:#808080;
	font-size:12px;
	line-height:12px;
	margin:0;
	clear:both;
}
.searchForm  > li.searchBoxLine select {
	display:block;
	float:left;
	width:96%;
	border:none;
	border-radius:3px;
	border:2px solid #d7d7e8;
	padding:5px 1%;
	color:#808080;
	font-size:12px;
	line-height:12px;
	margin:0;
	clear:both;
}
	.searchForm > li.searchBoxLine label, .searchForm > li.searchBoxLine > span {
		display:block;
		float:left;
		width:100%;
	}
	.searchForm > li.searchBoxLine label {
		color: #FE6634;
		font-size: 15px;
		line-height:15px;
		margin-bottom:5px;
	}
	.searchForm > li.searchBoxLine > span.searchBoxCol2.checkIn {
		width: 48.5%;
		float:left;
	}
	.searchForm > li.searchBoxLine > span.searchBoxCol2.checkOut {
		width: 48.5%;
		float:left;
	}
	.searchForm > li.searchBoxLine > span.searchBoxCol4.nights {
		width: 23%;
		float:left;
	}
	.searchForm > li.searchBoxLine > span.searchBoxCol4.guests {
		width: 23%;
		float:left;
		margin-left:2%;
	}
a.btnBigMobile, .km-root a.btnBigMobile {
	display: block;
	float: right;
	margin: 5px 5% 0 0;
	background: #fd4120 url(../images/mobile/btn-bg.gif) top left repeat-x;
	border-radius:8px;
	padding:10px 20px;
	color:#FFF;
	font-size:25px;
	line-height:25px;
	text-decoration: none;
	border:1px solid #FFF;
	cursor:pointer;
}
a.btnBigMobile.btnBookNowDett, .km-root a.btnBigMobile.btnBookNowDett {
	margin:0 2% 2%;
	width:92%;
	text-transform:uppercase;
	font-weight:bold;
	font-style:italic;
	text-align:center;
	position:relative;
	z-index:1;
	padding:2%;
	font-size:2em;
}
	a.btnBigMobile:hover, .km-root a.btnBigMobile:hover {
		background-position: bottom left;
		background-color:#fd8040;
	}
	a.btnBigMobile:after, .km-root a.btnBigMobile:after {
		content: "  »";
	}

	a.btnBigMobile.btnBookNowDett:after, .km-root a.btnBigMobile.btnBookNowDett:after {
		display:block;
		float:right;
		font-style:normal;
		font-size:1em;
	}

a.btnBack, .km-root a.btnBack{
    background: #FFFFFF url(../images/mobile/select-zone-bg.gif) left bottom repeat-x;
    border-radius: 2px;
    border-top: 1px solid #C9C9DB;
    border-left: medium none;
    border-right: medium none;
    clear: both;
    color: #333366;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-style: italic;
    line-height: 13px;
    margin: 0;
    padding: 2%;
    width: 96%;
	opacity: 1;
	text-decoration:none;
	color:#333366;
}
a.btnBack:hover, a.btnBack:active {
	opacity: 0.7;
}
.titBg, h1.titBg {
	background: #FFFFFF url(../images/mobile/tit-bg.gif) left center repeat-x;
	font-size: 1em;
	line-height: 1em;
	color: #fff;
	padding: 3% 2%;
	display:block;
	width: 96%;
	float:left;
	clear:both;
	margin:0 !important;
}
.galleryDett {
	float: left;
	clear: both;
	width: 100%;
	height:auto;
}
	.galleryDett img {
		float: left;
		clear: both;
		width: 100%;
		height:auto;
	}
.summary {
	float: left;
	clear: both;
	width: 96%;
	margin:2%;
	background:#23234c; 
	border-radius:10px;
}
.summary .summaryLine {
	padding: 5px 2%;
	width:96%;
	float: left;
	clear: both;
	border-bottom:1px solid #333366;
	position:relative;
	z-index:1;
}
	.summary .summaryLine#SummPart {
		border: none;
	}
.summary .summaryLine .summLabel {
	display:block;
	float:left;
	color:#d7d7e8;
	font-size:1em;
	line-height:1em;
	margin:1% 0;
}

.summary .summaryLine#SummTotal .summLabel,.summary .summaryLine#SummPart .summLabel {
	font-weight:bold;
	font-size:1.5em;
	line-height:2em;
}
	.summary .summaryLine#SummTotal .summTotal, .summary .summaryLine#SummPart .summTotal {
		display:block;
		float:right;
		color:#FE6634;
		font-size:2em;
		line-height:1.5em;
		margin:2% 0;
		font-weight:bold;
	}

	.summary .periodDates {
		display:block;
		float:right;
		color:#fff;
		font-size:1.1em;
		line-height:1.2em;
		margin:1%;
	}
		.summary .periodDates strong {
			color: #FE6634;
			font-weight: normal;
		}
.summModify.filterBtn, .km-root .summModify.filterBtn {
	margin:0;
	max-width:100%;
}
	.summModify.filterBtn:after, .km-root .summModify.filterBtn:after {
		content: "";
	}
.mobileBox {
	background:#FFF;
	float: left;
	clear: both;
	width: 96%;
	margin:2%;
	border-radius:10px;
}
	.mobileBox#guestBook { 
		width: 92%;
		margin: 2%;
		padding:2%;
		background:#FFF;
	}

		.mobileBox#guestBook .commento.list {
			width: 99%;
			margin-left:0;
		}

			.mobileBox#guestBook .commento.list .commCont .commentoTxt {
				color: #5c5c5e;
				font-size: 1em;
				line-height: 1.2em;
				font-weight: normal;
				float:left;
				width:98%;
			}

.k-content#tabsDett, #tabsDett {
	background:none;
	border:none;
	width:96%;
	margin: 0 2% 2%;
	float:left;
	clear:both;
}
#tabsDett .km-tabstrip#tabstrip, #tabsDett #tabstrip {
	background:none;
	border:none !important;
	width:100%;
	float:left;
	clear:both;
}
#tabsDett .km-widget.km-buttongroup {
	background:none;
	width:100%;
	border:none !important;
	margin-bottom:0;
	 text-align: center;
}

	#tabsDett .km-widget.km-buttongroup .km-button {
		border:none !important;
		background:#C1C1D5;
		margin:0 1px;
		color:#333366;
		display: inline-block;
		border-radius: 5px 5px 0 0 !important;
		padding:2% 2% 1% 2%;
	}
	#tabsDett .km-widget.km-buttongroup .km-button.km-state-active {
				background: #fff;
			}
	#tabsDett .km-widget.km-buttongroup .km-button.km-state-active .km-text{
		color:#FE6634;
			}

		#tabsDett .km-widget.km-buttongroup .km-button .km-text {
			
			
			font-size:1.1em;
			color:#333366;
			font-weight:bold;
		}
			#tabsDett .km-widget.km-buttongroup .km-button:hover {
				background: #fff;
			}
			
	#tabsDett .k-tabstrip-items .km-icon {
		display: none;
	}
	#tabstrip .tabDett {
		border-color:none;
		background:#FFF;
		float: left;
		clear: both;
		width: 96%;
		margin:0;
		border-radius:10px;
		padding:2%;
		text-align:left;
		font-size:1em;
		line-height:1.5em;
		color:#5c5c5e;
	}
#scrollview-container .km-pages li {
	border:none;
	background: #272759;
	border-color:#272759;
	height:1em;
	width:1em;
}
#scrollview-container .km-pages .km-current-page, .km-ios7 #scrollview-container .km-pages .km-current-page {
	background:#FE6634;
	border-color:#FE6634;
}
		#tabstrip .tabDett .txtTabs {
			color: #5C5C5E;
    font-size: 1em;
    line-height: 1.3em;
    text-align: left;
	font-style: normal;
	font-weight:normal;
		}



#tabstrip .tabDett .filterBtn {
	width:45%;
	max-width:100%;
	margin-right:0;
	margin-top:2%;
	box-shadow: none;
	border-color:#d8d8e8;
	text-decoration:none;
	text-align:center;
}
#tabstrip .tabDett .filterBtn.addtoWishBtn {
	float:left;
}
#tabstrip .tabDett .filterBtn.resquestInfoBtn {
	float:right;
}
#tabstrip .tabDett .filterBtn:after {
		content: "";
	}

#tabsDett .k-content .filterBtn .km-icon {
	display:none;
}

.lineBooking {
	width: 94%;
	margin: 0 3%;
	float:left;
	clear:both;
	padding:15px 0;
	border-bottom:1px dashed #c9c9db;
}
	.lineBooking label {
		display: block;
		float: left;
		font-size: 1.2em;
		color:#808080 !important;
		line-height:1em;
		margin-bottom:10px;
	}
	.lineBooking input[type="text"], .lineBooking input[type="password"], .lineBooking input[type="email"] {
		width: 96%;
		padding: 10px 2%;
		float:left; 
		background:#FFF !important;
		text-indent:5px;
		font-size:1em;
		min-height:22px;
		color:#272759 !important;
		opacity:0.4;
		border:1px solid #000;
	}
	.lineBooking select {
		width: 96%;
		padding: 2%;
		border-radius:3px;
		float:left;
		border:1px solid #000 !important;
		color:#272759 !important;
		opacity:0.4;
	}
	.lineBooking input[type="checkBox"] {
		margin-right: 10px;
	}

.mobileBox.boxBooking a.btnBigMobile, .km-root .mobileBox.boxBooking a.btnBigMobile {
	margin-top:15px;
	margin-bottom:15px;
	margin-right:2%;
	width:96%;
	text-align:center;
	color:#FFF !important;
	text-decoration:none;
	padding-left:0;
	padding-right:0;
	
}
.mobileBox.boxBooking a, .km-root .mobileBox.boxBooking a {
	color:#FE6634;
	cursor:pointer;
	text-decoration:underline;
}
a.forgotPass, .km-root a.forgotPass {
	display: block;
	clear: both;
	float: left;
	margin: 15px 0 0 0;
	font-size: 0.9em;
	line-height: 0.7em;
	
}
	.mobileBox.boxBooking a:hover, .km-root .mobileBox.boxBooking a:hover {
		color: #333366;
	}

.mobileBox.boxBooking a.btnBigMobile.fbLogin {
	background: url(../images/mobile/btn-fb-bg.gif) center left no-repeat !important;
	min-height:22px;
	font-size:1.5em;
}
	.mobileBox.boxBooking a.btnBigMobile.fbLogin:hover {
		opacity:0.7;
	}

.lineFilters.lineBooking select {
	width:50px;
}
#GuestsBox .lineFilters.lineBooking label {
	margin: 2%;
}
.mobileBox.boxFilters {
	padding-top:10px;
	padding-bottom:10px;
	background-clip:inherit;
}
.mobileBox.boxFilters#PricesBox, .mobileBox.boxFilters#RatingBox {
	padding:15px 2%;
	width:92%;
	
}

.mobileBox.boxFilters .slider-range-cont .ui-slider .ui-slider-handle {
	width:15px;
	height:15px;
	top:-8px;
	border-radius:50px;
}
.mobileBox.boxFilters .minmax .min, .mobileBox.boxFilters .minmax .max {
	background-clip:inherit;
	margin-bottom:10px;
	background:#EDEDF2;
	padding:5px;
}

.lineFilters.lineBooking input[type="checkBox"] {
	float:left;
	position:relative;
	top:2px;
}
#ZoneBox .lineFilters.lineBooking label, #AmenitiesBox .lineFilters.lineBooking label {
	margin-bottom:0;
}

.mobileBox.boxFilters#ZoneBox, .mobileBox.boxFilters#AmenitiesBox {
	padding-top:10px;
	padding-bottom:10px;
	background-clip:inherit;
}
.titBar {
    padding: 7px 0 0 5%;
    width: 90%
}
#specOffert, #ListspecOffert{
    width: 100%;
}
#ListspecOffert a.commento{
    width: 90%; 
    padding: 8px 5%;
    border: none !important;
}
    #ListspecOffert .commento .commCont {
        margin-right: 1%;
        width: 80%;
    }
    #ListspecOffert .alt_estate_euro {
        padding: 11px 2%;
        width: 15%;
    }

.priceFrom {
    color: #333366;;
    float: right;
    font-size: 10px;
    font-weight: normal;
    line-height: 10px;
    margin-bottom: 10px;
    max-width: 32%;
    position: absolute;
    right: 5px;
    text-align: right;
    text-decoration: none;
    top: 5px;
    z-index: 2;
}

.priceFrom .data {
    clear: right;
    color: #FE6634;
    font-style: italic;
}

.listAmenities {
    float: left;
    height: 30px;
    margin-top: 1%;
    overflow: hidden;
    padding: 0 3%;
    text-decoration: none;
    width: 100%;
}

.listAmenities img, .listAmenities img.km-image {
    border: medium none;
    display: block;
    float: left;
    margin: 0 1% 0 0;
	height:30px;
}

body .km-listview-link::after, body .km-listview-label::after {
	content:none;
}

@media screen and (max-width: 560px) {
	#tabsDett .km-widget.km-buttongroup .km-button .km-text {
		font-size:0.8em;
    }
}
@media screen and (max-width: 330px) {
	#tabsDett .km-widget.km-buttongroup .km-button .km-text {
		font-size:0.7em;
    }
}

#summaryDett .summaryLine input[type="text"], #summaryDett .summaryLine select {
	float:right;
	background: #FFF !important;
	padding: 2%;
	font-size:1em;
	line-height:0.8em;
	border-top: 1px solid #c9c9db !important;
	cursor:pointer;
	border-radius:none;
	width:80%;
}

body #menuLang ul li {
	margin-left: 0;
}