.chromestyle
{
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin-top: 47px;
    float: left;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.chromestyle ul{
    background-color: #FFFFFF;
	margin: 0;
	text-align: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-repeat: repeat-x;
	background-position: center center;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
	height: 20px;
	display:block;
	float:left;
	border-left:1px solid #fe6634;
}

.chromestyle ul li{
    display: block;
    float: left;
    padding-top: 0;
    text-align: left;
}

.chromestyle ul li a{
	color:#333366;
	display:block;
	float:left;
	font-family:arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	margin-top:0;
	padding-left:9px;
	padding-right:9px;
	text-align:center;
	text-decoration:none;
	border-right:1px solid #fe6634;
	
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
	color: #fe6634;
	background-color:#fe6634;
	color:#FFF;
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
	position:absolute;
	top: 0;
	line-height:18px;
	z-index:100;
	visibility: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFF;
	margin-top: -1px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: -1px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	background-color: #fe6634;
	min-width: 70px;
}


.dropmenudiv a{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	display: block;
	text-decoration: none;
	font-weight: normal;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	height: 18px;
	padding-top: 2px;
	background-color: #fe6634;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #df4411;
	
	
	padding-right: 10px;
	padding-left: 5px;
	padding-bottom: 2px;
}

* html .dropmenudiv a{ /*IE only hack*/
	width: 220px;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
	color: #333366;
	background-color: #FFF;
}
